<!-- templates/cv.html -->

{% extends "base.html" %}

{% block title %}{{ profil.firstname }} Portfolio{% endblock %}
{% load static %}
{% block additional_css  %}
    <link href="{% static 'css/portfolio.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if profil %}
        <header>
            <div class="h-100 w-full flex p-2 justify-between" style="background-color: {{ theme.primary_color }}; color: {{ theme.default_font_color }};">
                <a class="user_profil flex" href="{% url 'user_profile' profil.user.username %}">
                    <img src="{{ profil.profil_picture.url }}" alt="Profile Picture" class="profile-picture rounded-full w-10 h-10">
                    <p class="align_middle">{{ profil.user.username }}</p>
                </a>
                <nav class="menu">
                    <ul class="flex align_middle">
                        <li><a href="{{ profil.cv.url }}" target="_blank">Mon CV<i class="mx-2 fa fa-download"></i></a></li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <section class="min-h-80 w-full lg:grid lg:grid-flow-col sm:flex-col" style="background-color: {{ theme.secondary_color }}; color: {{ theme.secondary_font_color }};">
            <div class="profil_intro column p-10">
                <div class="flex">
                    <img src="{{ profil.cv_picture }}" alt="cv_picture" class="rounded-full w-10 h-10">
                    <p class="align_middle">{{ profil.firstname }} {{ profil.name }}</p>
                </div>
                <p class="mt-6 max-w-2xl text-justify">{{ profil.intro }}</p>
            </div>
            <ul class="flex contact-icons text-lg mx-5 items-end justify-end">
                {% if profil.github %}
                    <li class="mx-2">
                        <a href="{{ profil.github }}">
                            <i class="fab fa-github"></i>
                            <span class="text-sm align-baseline">GitHub</span>
                        </a>
                    </li>
                {% endif %}
                {% if profil.linkedin %}
                    <li class="mx-2">
                        <a href="{{ profil.linkedin }}">
                            <i class="fab fa-linkedin"></i>
                            <span class="text-sm align-baseline">LinkedIn</span>
                        </a>
                    </li>
                {% endif %}
                {% if profil.website %}
                    <li class="mx-2">
                        <a href="{{ profil.website }}">
                            <i class="fas fa-globe"></i>
                            <span class="text-sm align-baseline">Website</span>
                        </a>
                    </li>
                {% endif %}
                {% if profil.email %}
                    <li class="mx-2">
                        <a href="mailto:{{ profil.email }}">
                            <i class="fas fa-envelope"></i>
                            <span class="text-sm align-baseline">Email</span>
                        </a>
                    </li>
                {% endif %}
                {% if profil.tel %}
                    <li class="mx-2">
                        <a href="tel:{{ profil.tel }}">
                            <i class="fas fa-phone"></i>
                            <span class="text-sm align-baseline">{{ profil.tel }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </section>

        {% load cv_tags %}
        <section class="p-10 mx-auto skills-section w-2/3 min-h-80" style="background-color: {{ theme.primary_color }}; color: {{ theme.default_font_color }};">
            <h1 class="text-center" style="color: {{ theme.extra_color }};">Mes compétences</h1>
            <ul class="skills-container flex-col">
                {% for skill_group in profil.skills.all|sort_skills:display_order %}
                    <li class="grid grid-cols-4 gap-1 auto-cols-max">
                        <span class="text-xl font-bold ">{{ skill_group.grouper|capfirst }}</span>
                        <div class="flex col-span-3">
                            {% for item in skill_group.list|dictsort:'skill.name' %}
                                <div class="skill my-2 mx-2 border-black border-2 p-1 rounded-full flex w-36 justify-center shadow-xl" style="border-color: {{ theme.extra_color }};">
                                    {% if item.skill.logo %}<img src="{{ item.skill.logo.url }}" alt="{{ item.skill }}" class="mt-0.5 w-5 h-5 mx-2">{% endif %}
                                    <span class="text-sm">{{ item.skill }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="p-10 mx-auto project-section w-2/3 min-h-80" style="background-color: {{ theme.primary_color }}; color: {{ theme.default_font_color }};">
            <h1 class="text-center mb-2" style="color: {{ theme.extra_color }};">Mes Projets</h1>
            <ul class="grid grid-cols-3 gap-5">
                {% for project in profil.projects.all %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    {% if project.image %}
                        <img class="w-full max-h-48 object-cover" src="{{ project.image }}" alt="project_picture">
                    {% endif %}
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ project.title }}</div>
                        <p class="text-gray-700 text-base">
                            {{ project.description }}
                        </p>
                    </div>
                    <div class="px-6 pt-2 pb-2 flex justify-end">
                       <button class="text-white font-bold py-2 px-4 rounded-full" style="background-color: {{ theme.extra_color }}">
                           En savoir plus
                        </button>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </section>

        <section class="p-5 mx-auto cv-section w-2/3 min-h-80" style="background-color: {{ theme.primary_color }}; color: {{ theme.default_font_color }};">
            <h1 class="text-center" style="color: {{ theme.extra_color }};">CV</h1>
            <div class="grid grid-cols-3">
                <ul>
                    <h2 class="text-center" style="color: {{ theme.extra_color }};">Diplomes</h2>
                    {% for diploma in diplomes %}
                        <li class="diploma my-3 flex">
                            <i class="fa-solid fa-graduation-cap mx-2 my-1"  style="color: {{ theme.default_font_color }};"></i>
                            <div class="diploma-description">
                                <strong>{{ diploma.title }}</strong>
                                <p> <strong>{{ diploma.school }}</strong> à {{ diploma.place }}</p>
                                <p>{{ diploma.description }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="col-span-2">
                    <h2 class="text-center" style="color: {{ theme.extra_color }};">Expériences</h2>
                    {% for experience in experiences %}
                        <li class="experience my-5">
                            <div class="flex justify-between">
                                <strong> <i class="fa-sharp fa-solid fa-briefcase"></i> {{ experience.poste }} chez {{ experience.entreprise }}</strong> 
                                <p>{{ experience.start_date|date:"F Y" }} - {{ experience.end_date|date:"F Y"|default:"Today" }}</p>
                                
                            </div>
                            <p>{{ experience.place }} </p>
                            <p>{{ experience.description|find_replace:"*|-"|linebreaks }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>  
        </section>


    {% else %}
        <p>No portfolio available for this user.</p>
    {% endif %}
{% endblock %}
