<!-- templates/cv.html -->

{% extends "base.html" %}

{% block title %}{{ profil.firstname }} Portfolio{% endblock %}
{% load static %}
{% load i18n %}
{% block additional_css  %}
    <style>
        body {
            font-family: Playpen Sans, 'sans serif'
        }
        .bg_picture {
            background-image: url({{ bg_picture }})
        }
        @keyframes fadeIn {
            to { opacity: 1; }
        }
        @keyframes marquee {
            0% { transform: translateX(0%); }
            100% { transform: translateX(-100%); }
        }

        @keyframes marquee2 {
            0% { transform: translateX(100%); opacity: 1; }
            100% { transform: translateX(0%); }
        }

        .marquee {
            animation: marquee 30s linear 2s infinite;
        }

        .marquee2 {
            opacity: 0; /* Start with the element hidden */
            animation: marquee2 30s linear 2s infinite, fadeIn 0.1s linear 2s forwards;
        }
        @media only screen and (max-width: 768px) {
            .sm-hidden {
                display: none !important;
            }

            .sm-col {
                flex-direction: column !important;
            }

            .sm-wide {
                width: 100% !important;
                margin: 10px 0 !important;
            }
        }
    </style>
{% endblock %}
{% block content %}
{% if profil %}

    {% comment %} HEADER  {% endcomment %}
    {% include header_name %}


    {% comment %} HERO WITH IMAGE AND SOCIAL  {% endcomment %}
    <div class="flex top-0 min-h-[600px]">
        <div class="flex items-center px-4 md:px-12 lg:w-1/2 overflow-hidden py-4">
            <div>
                <h2 class="text-2xl font-semibold text-gray-800 md:text-4xl"> {{ profil.firstname }} {{ profil.name }}<span class="text-teal-600">{% trans "'s Portfolio" %}</span> </h2>
                <p class="mt-2 mb-6 text-sm text-gray-500 md:text-base">{{ profil.intro }}</p>
                <ul class="flex flex-col flex-wrap gap-2 contact-icons text-lg md:flex-row">
                    {% if profil.github %}
                        <a
                        class="bg-teal-800 dark:bg-teal-800 dark:bg-teal-800 active:translate-x-0 active:translate-y-0
                        flex items-center border-slate-900 border-2 duration-200 px-2 py-2 -translate-x-1 -translate-y-1 hover:-translate-x-1.5
                        hover:-translate-y-1.5 rounded text-white mx-2"
                        href="{{ profil.github }}"
                        target="_blank"
                        >   
                            <i class="fab fa-github mx-2"></i>
                            <span class="text-sm align-baseline">GitHub</span>
                        </a>
                    {% endif %}
                    {% if profil.linkedin %}
                        <a
                        class="bg-teal-800 dark:bg-teal-800 dark:bg-teal-800 active:translate-x-0 active:translate-y-0
                        flex items-center border-slate-900 border-2 duration-200 px-2 py-2 -translate-x-1 -translate-y-1 hover:-translate-x-1.5
                        hover:-translate-y-1.5 rounded text-white mx-2"
                        href="{{ profil.linkedin }}"
                        target="_blank"
                        >
                            <i class="fab fa-linkedin mx-2"></i>
                            <span class="text-sm align-baseline">LinkedIn</span>
                        </a>
                    {% endif %}
                    {% if profil.website %}
                        <a
                        class="bg-teal-800 dark:bg-teal-800 dark:bg-teal-800 active:translate-x-0 active:translate-y-0
                        flex items-center border-slate-900 border-2 duration-200 px-2 py-2 -translate-x-1 -translate-y-1 hover:-translate-x-1.5
                        hover:-translate-y-1.5 rounded text-white mx-2"
                        href="{{ profil.website }}"
                        target="_blank"
                        >
                            <i class="fas fa-globe mx-2"></i>
                            <span class="text-sm align-baseline">Website</span>
                        </a>
                    {% endif %}
                    {% if profil.email %}
                        <a
                        class="bg-teal-800 dark:bg-teal-800 dark:bg-teal-800 active:translate-x-0 active:translate-y-0
                        flex items-center border-slate-900 border-2 duration-200 px-2 py-2 -translate-x-1 -translate-y-1 hover:-translate-x-1.5
                        hover:-translate-y-1.5 rounded text-white mx-2"
                        href="mailto:{{ profil.email }}"
                        target="_blank"
                        >      
                            <i class="fas fa-envelope mx-2"></i>
                            <span class="text-sm align-baseline">Email</span> 
                        </a>
                    {% endif %}
                    {% if profil.tel %}
                        <a
                        class="bg-teal-800 dark:bg-teal-800 dark:bg-teal-800 active:translate-x-0 active:translate-y-0
                        flex items-center border-slate-900 border-2 duration-200 px-2 py-2 -translate-x-1 -translate-y-1 hover:-translate-x-1.5
                        hover:-translate-y-1.5 rounded text-white mx-2"
                        href="tel:{{ profil.tel }}"
                        target="_blank"
                        >
                            <i class="fas fa-phone mx-2"></i>
                            <span class="text-sm align-baseline">{{ profil.tel }}</span>         
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
            <div class="h-full object-cover bg_picture">
                <div class="h-full bg-black opacity-25"></div>
            </div>
        </div>
    </div>

    {% comment %} SKILL LIST ANIMATED  {% endcomment %}
    {% load cv_tags %}
    <div class="relative flex w-full overflow-x-hidden border-b-2 border-t-2 border-black font-bold bg-white">
        <div class="flex marquee whitespace-nowrap py-5 ">
            {% for skill_group in profil.skills.all|sort_skills:display_order %}
                {% for item in skill_group.list|dictsort:'skill.name' %}
                <div class="flex mx-3">
                    {% if item.skill.logo %}<img src="{{ item.skill.logo.url }}" alt="{{ item.skill }}" class="mt-0.5 w-5 h-5 mx-2">{% endif %}
                    <span class="text-sm">{{ item.skill }}</span>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="flex absolute top-0 marquee2 whitespace-nowrap py-5">
            {% for skill_group in profil.skills.all|sort_skills:display_order %}
                {% for item in skill_group.list|dictsort:'skill.name' %}
                    <div class="flex mx-3">
                        {% if item.skill.logo %}<img src="{{ item.skill.logo.url }}" alt="{{ item.skill }}" class="mt-0.5 w-5 h-5 mx-2">{% endif %}
                        <span class="text-sm">{{ item.skill }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    {% comment %} PROJECTS  {% endcomment %}
    <div class="container mx-auto my-16">
        <h1 class="text-center text-3xl font-semibold mb-12">{% trans "Freelance Projects" %}</h1>
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 text-center">
        {% for project in profil.projects.all %}
            <figure class="flex flex-col mx-3 my-3 overflow-hidden rounded-md border-2 border-black bg-white font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] ">
                {% if project.image %}
                    <img class="h-full max-h-[400px] object-cover border-b-2 border-black" src="{{ project.image.url }}" alt="image" />
                {% endif %}
                <div class=" font-bold text-xl my-2 mx-2">{{ project.title }}</div>
                <figcaption class="border-t-2 border-black p-4 text-zinc-600 h-[120px]">
                    {{ project.description|truncatechars:100 }}
                </figcaption>
                <div class="p-4 flex justify-end">
                    <a 
                        href="{% url 'project_view' project.id %}" 
                        class="flex text-white cursor-pointer items-center rounded-md border-2
                            border-black bg-[#30888c] px-5 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]
                            transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none">
                    {% trans 'View' %}
                    </a>
                </div>
            </figure>
        {% endfor %}
        </div>
    </div> 

    {% comment %} CURSUS  {% endcomment %}
    <div class="container my-16 lg:my-32 mx-auto w-full h-full">
        <h1 class="text-center text-3xl font-semibold mb-12">Curiculum Vitae</h1>
        <div class="relative wrap overflow-hidden p-4 h-full">
            <div class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border sm-hidden" style="left: 50%"></div>

            {% for item in cursus %}
            <div class="flex justify-around items-center w-full {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %} sm-col">
                <div class="order-1 w-5/12 sm-wide"></div>
                <div class="z-20 flex items-center order-1 bg-teal-800 shadow-xl w-8 h-8 rounded-full sm-hidden">
                    <p class="mx-auto font-semibold text-lg text-white">{% if item.title %}<i class="fa-solid fa-graduation-cap"></i>{% else %}<i class="fa-sharp fa-solid fa-briefcase"></i>{% endif %}</p>
                </div>
                <div class="order-1 w-5/12 px-6 py-4 rounded-md border-2 border-black bg-white font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] sm-wide">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">
                    {% if item.title %} <span class="text-teal-600">{{ item.title }}</span> @ {{ item.school }}, {{ item.place }}</p>{% else %}
                    <span class="text-teal-600">{{ item.poste }}</span> @ {{ item.entreprise }}{% endif %}</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">{{item.description|linebreaksbr}}</p>
                    <p class="text-right text-gray-400 my-2">
                    {% if item.graduation_date %} {{ item.graduation_date|date:"F Y" }}{% else %}
                        {{ item.start_date|date:"F Y" }} - {{ item.end_date|date:"F Y"|default:"Today" }}
                    {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% else %}
    <p>No portfolio available for this user.</p>
{% endif %}
{% endblock %}
