.contact-icons {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif
}

.align_middle, .align_middle > *{
    margin-top: 0.4rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif
}